@import "bootstrap/scss/functions";

$font-family-sans-serif: 'poppins-regular', sans-serif;
$font-weight-bolder: 800;

$enable-negative-margins: true;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  gbpCustom1:1280px,
  gbpCustom2:1360px,
  xxl: 1400px,
  gbpCustom3:1600px,
  gbpCustom4:1920px,
  gbpCustom5:2560px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$position-values: (
  0: 0,
  5:5%,
  10:10%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

@import "bootstrap/scss/variables";

$cdn: 'https://d1l9597hydyb9x.cloudfront.net/surwebv2/';

//Typography
$font-family-primary: $font-family-sans-serif;

$font-size-xsm: $font-size-base * .625;

//Colors
$desactivado: #898989;