@import "bootstrap/scss/functions";

$body-color: #000000;
$font-family-sans-serif: 'poppins-regular', sans-serif;

$primary: #25A2DC;
$secondary: #1E1E1E;


$font-weight-bolder: 800;

$enable-negative-margins: true;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  gbpCustom1:1280px,
  gbpCustom2:1360px,
  xxl: 1400px,
  gbpCustom3:1600px,
  gbpCustom4:1920px,
  gbpCustom5:2560px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

$table-variants: (
  "primary": $primary,
  "white":#FFFFFF
);

@import "bootstrap/scss/variables";

$cdn: 'https://d1l9597hydyb9x.cloudfront.net/surwebv2/';

//Typography
$font-family-primary: $font-family-sans-serif;

$font-size-xsm: $font-size-base * .625;

//Colors
$customRed: #EC3737;
$desactivado: #898989;
$vivo: #65C4C0;
$repeticion: #7DAED8;
$diferido: #8B8DCB;
$darkGray: #454545;