.pagination {
    justify-content: center;

    margin-bottom: 75px;

    @include media-breakpoint-up(md) {
        margin-bottom: 1.5rem;
    }
}

.page-item {
    .page-link {

        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
            width: 43px;
            height: 53px;
        }

        font-weight: 600;
        color: $white;
        background-color: unset;
        border: none;
        line-height: 1;
        /*  padding: 0; */
        width: 33px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        &:focus {
            box-shadow: none;
        }

    }

    &.disabled {
        .page-link {
            background-color: unset;
            border: none;
        }
    }

    /* &.active {
        .page-link {
            border-radius: 5px;
        }
    } */
}

.leftArrow {
    transform: rotate(-90deg);
}

.rightArrow {
    transform: rotate(90deg);
}