html,
body {
  min-height: 100vh;
  background: #FFFFFF;
}


.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fs-small {
  font-size: $font-size-sm  !important;
}

.fs-xsmall {
  font-size: .75rem !important;
}

.fs-xsmallCustom {
  font-size: .8125rem !important;
}

.fs-xxsmall {
  font-size: .625rem !important;
}

p {
  margin: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin: 0;
}


.error-text {
  color: $customRed;

  @include media-breakpoint-only(xs) {
    font-weight: normal !important;
  }
}

.error-border {
  border-color: $customRed;
}

button {
  &:focus {
    box-shadow: none !important;
  }
}

a {
  text-decoration: none;
}


.carousel-indicators {

  /* @include media-breakpoint-up(md) {
        margin-top: 2.5rem;
    } */
  @include media-breakpoint-up(lg) {
    margin-bottom: 50px !important;
  }

  /* top: 100%; */
  /* margin-top: 1.5rem; */
  /* bottom: unset; */
  height: 12px;

  [data-bs-target] {
    background-color: $white  !important;
    text-indent: 0 !important;
    opacity: unset !important;
  }

  .active {
    /* background-color: unset; */
    background-color: $primary  !important;
  }

  button {
    flex: unset !important;
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    border: none !important;

  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: unset !important;

  @include media-breakpoint-down(lg) {
    padding-top: 67px !important;
  }

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 15px !important;
  height: 15px !important;

  @include media-breakpoint-up(lg) {
    width: 32px !important;
    height: 32px !important;
  }

}

.navbar-toggler {
  border: none !important;
  padding: 0px !important;
}

.navbar-toggler-icon {
  width: 24px !important;
  height: 24px !important;

  @include media-breakpoint-up(md) {
    width: 2rem !important;
    height: 2rem !important;
  }

}

.carousel-caption {
  left: 12% !important;
  right: unset !important;
  bottom: 22% !important;
}

.visually-hidden {
  display: none;
}

.poppinsLight {
  font-family: 'poppins-light';
}

.poppinsMedium {
  font-family: 'poppins-medium';
}


.poppinsBold {
  font-family: 'poppins-bold';
}
